[submodule "nerdcommenter"]
	path = lib/nerdcommenter
	url = git@github.com/scrooloose/nerdcommenter.git
[submodule "nerdtree"]
	path = lib/nerdtree
	url = git@github.com/scrooloose/nerdtree.git
[submodule "vim-surround"]
	path = lib/vim-surround
	url = git@github.com/tpope/vim-surround.git
[submodule "vim-pathogen"]
	path = lib/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
