[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-surround"]
	path = vim/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/lib/vim-markdown"]
	path = vim/vim/lib/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim-pathogen"]
	path = vim/vim/lib/pathogen
	url = git@github.com:tpope/vim-pathogen.git
